@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource/montserrat";

@custom-variant dark (&:is(.dark *));

:root {
  /* =========== COLORES BASE =========== */
  --color-amatista: #653873;
  --color-ciruela: #420D4B;
  --color-zafiro-lavanda: #6264BC;
  --color-vainilla: #FFF9E4;
  --color-obsidiana: #210635;

  /* =========== BOTÓN PRIMARY =========== */
  /* Filled */
  --button-primary-filled-background: var(--color-amatista);
  --button-primary-filled-text: var(--color-vainilla);

  /* Filled - active */
  --button-primary-filled-active-background: var(--color-amatista);
  --button-primary-filled-active-text: var(--color-vainilla);

  /* Filled - Disabled */
  --button-primary-filled-disabled-background: #7B337E33;
  --button-primary-filled-disabled-text: #8F8F8FB3;

  /* Outlined */
  --button-primary-outlined-border: var(--color-amatista);
  --button-primary-outlined-text: var(--color-vainilla);

  /* Outlined - active */
  --button-primary-outlined-active-border: var(--color-amatista);
  --button-primary-outlined-active-text: var(--color-vainilla);

  /* Outlined - Disabled */
  --button-primary-outlined-disabled-border: #7B337E33;
  --button-primary-outlined-disabled-text: #FFF9E41A;

  /* =========== BOTÓN CTA =========== */
  /* Filled */
  --button-cta-filled-background: var(--color-zafiro-lavanda);
  --button-cta-filled-text: var(--color-vainilla);

  /* Filled - active */
  --button-cta-filled-active-background: var(--color-zafiro-lavanda);
  --button-cta-filled-active-text: var(--color-vainilla);

  /* Filled - Disabled */
  --button-cta-filled-disabled-background: #6264BC33;
  --button-cta-filled-disabled-text: #8F8F8FB3;

  /* Outlined */
  --button-cta-outlined-border: var(--color-zafiro-lavanda);
  --button-cta-outlined-text: var(--color-vainilla);

  /* Outlined - active */
  --button-cta-outlined-active-border: var(--color-zafiro-lavanda);
  --button-cta-outlined-active-text: var(--color-vainilla);

  /* Outlined - Disabled */
  --button-cta-outlined-disabled-border: #6264BC26;
  --button-cta-outlined-disabled-text: #FFF9E41A;

  /* =========== VARIABLES GENERALES =========== */
  --background: #16191C;
  --foreground: #FFF9E4;
  --border: #2A2E33;
  --radius: 0.625rem;

  /* =========== INPUT =========== */
/* Label */
--input-label-default: var(--color-vainilla);
--input-label-focus: var(--color-vainilla);
--input-label-disabled: rgba(255, 249, 228, 0.40);

/* Border */
--input-border-default: rgba(123, 51, 126, 0.40);
--input-border-focus: var(--color-amatista);
--input-border-disabled: rgba(123, 51, 126, 0.40);

/* Texto */
--input-text-default: rgba(255, 249, 228, 0.20);
--input-text-focus: rgba(255, 249, 228, 0.20);
--input-text-disabled: rgba(255, 249, 228, 0.20);

/* Helper */
--input-helper-default: rgba(255, 249, 228, 0.40);
--input-helper-focus: rgba(255, 249, 228, 0.40);
--input-helper-disabled: rgba(255, 249, 228, 0.40);

/* =========== TEXTAREA =========== */
/* Label */
--textarea-label-default: var(--color-vainilla);
--textarea-label-focus: var(--color-vainilla);
--textarea-label-disabled: rgba(255, 249, 228, 0.40);

/* Border */
--textarea-border-default: var(--color-amatista);
--textarea-border-focus: var(--color-amatista);
--textarea-border-disabled: rgba(123, 51, 126, 0.40);

/* Texto escrito */
--textarea-text-default: var(--color-vainilla);
--textarea-text-focus: var(--color-vainilla);
--textarea-text-disabled: rgba(255, 249, 228, 0.20);

/* Placeholder */
--textarea-placeholder-default: rgba(255, 249, 228, 0.20);
--textarea-placeholder-focus: rgba(255, 249, 228, 0.20);
--textarea-placeholder-disabled: rgba(255, 249, 228, 0.20);

/* Helper */
--textarea-helper-default: rgba(255, 249, 228, 0.20);
--textarea-helper-focus: rgba(255, 249, 228, 0.20);
--textarea-helper-disabled: rgba(255, 249, 228, 0.20);

/* =========== BADGE PRIORITY =========== */
/* Fondo */
--badge-alta-background: #A855F740;
--badge-media-background: #F4C54240;
--badge-baja-background: #2ECC7140;

/* Texto e icono */
--badge-alta-text: #FFF9E4CC;
--badge-media-text: #FFF9E4CC;
--badge-baja-text: #FFF9E4CC;

/* =========== MODAL =========== */
--modal-background: #191B1F;
--modal-border: var(--color-amatista);
--modal-shadow: rgba(123, 51, 126, 0.60);

--modal-title: var(--color-vainilla);
--modal-description: var(--color-vainilla);

--modal-close-icon: var(--color-vainilla);
}

/* =========== SCROLL =========== */
* {
    scrollbar-width: thin;
    scrollbar-color: #272E35 transparent;
}
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

/* =========== ESTILOS GLOBALES ROOT =========== */
#root {
  min-height: 100vh;
}

/* =========== VARIABLES TAILWIND =========== */
@theme inline {
  --font-heading: var(--font-sans);
  --font-sans: "Montserrat", sans-serif;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

/* ========== ESTILOS BASE =========== */
@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  html {
    @apply font-sans;
  }

  body {
    @apply bg-background text-foreground font-sans;
  }
}